body, html {
    padding: 0;
    height: 100%;
    color: black;
    background: url('../background.png') no-repeat center bottom;
    background-size: cover;
    /*font-family: 'Calibri', sans-serif;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-top: 50px;
}

a {
    color: #00B7FF;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#tournament_form {
    font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
    border-radius: 5px;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
}

#join_tournament_button {
    color: black;
    background: rgba(255, 2555, 255, 1);
    border-color: white;
}